.first-page{
    width: 80vw;
    height: 80vh;
    position: relative;
}
.first-part{
    width: 80vw;
    height: 30vh;
    position: absolute;
    text-align: left;
}
.child1{
    width: 40vw;
    height: 50vh;
    background-color: rgb(46, 197, 197);
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;


}
.child2{
    width: 40vw;
    height: 50vh;
    background-color: rgb(26, 221, 221);
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
}
button{
    background-color: rgb(103, 143, 44);
    width: 100px;
}
ul{
    list-style: none;
}
.child2 > h1{
    padding: 20px;
}